@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Roboto:ital,wght@0,100;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Roboto:ital,wght@0,100;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-navbar {
  background-color: rgba(0, 0, 0, 1);
}

.navbar-brand {
  color: rgba(255, 255, 255, 0.91) !important;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
}

.custom-button {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
}

.main-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body:first-child .navbar {
  position: absolute;
  width: 100%;
  padding: 10px 0;
}

body {
  height: 5000px;
  overflow-x: hidden;
}

.nav-link {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
}

.navbar-light .navbar-nav .nav-link {
  font-family: "Amaranth", sans-serif;
  color: rgba(255, 255, 255, 0.8);
}

#capa {
  position: relative;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

#capa::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 22%,
      rgba(0, 0, 0, 0.1)
    ),
    url("../img/celestial.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  object-fit: cover;
  -webkit-filter: brightness(0.4);
  z-index: -1;
}

.titulo {
  color: #f28b30;
  font-family: "Fredericka the Great", cursive;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subtitulo {
  color: rgba(255, 255, 255, 0.91);
  font-family: "Amaranth";
  font-size: 30px;
  line-height: 1;
  font-weight: 400;
}

.text-navbar {
  color: #f28b30;
}

.btn-outline-warning {
  color: #f28b30;
  border-color: #f28b30;
}

body::-webkit-scrollbar {
  width: 0.8rem;
}

body::-webkit-scrollbar-track {
  background: rgb(6, 6, 6);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(41, 41, 41);
  border-radius: 20px;
  border: 3px solid rgb(41, 41, 41);
}

.nav-link {
  padding-bottom: 0.1rem !important;
}

.header nav ul li {
  list-style: none;
  display: inline;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  position: relative;
}

.header nav ul li::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.2rem;
  background-color: #f28b30;
  transition: 0.5s;
}

.header nav ul li:hover::after {
  width: 100%;
}

.nav-link:hover {
  color: #f28b30 !important;
}

.footer-sub {
  flex-basis: 50%;
  padding: 0 2rem;
  text-align: justify;
}

.footer-sub2 {
  flex-basis: 50%;
  padding: 0 2rem;
  text-align: justify;
}

li {
  margin-bottom: 10px;
}
